<div class="card-container">
  <md-card *ngFor="let team of getTeams()">
    <img md-card-image [alt]="team.name" [src]="team.logo">
    <md-card-title>{{team.name}}</md-card-title>
    <md-card-content class="secondary">
      {{team.owner}}
    </md-card-content>
    <md-card-actions align="end">
      <button md-icon-button (click)="href('tel:' + team.mobile)"><md-icon>phone</md-icon></button>
      <button md-icon-button (click)="href('sms:' + team.mobile)"><md-icon>sms</md-icon></button>
      <button md-icon-button (click)="href('mailto:' + team.email)"><md-icon>mail</md-icon></button>
    </md-card-actions>
  </md-card>
</div>