<div class="card-container">
  <md-card *ngFor="let team of getTeams()">
    <img md-card-image [alt]="team.name" [src]="team.logo">
    <md-card-title>{{team.name}}</md-card-title>
    <md-card-content class="secondary">
      {{team.owner}}
    </md-card-content>
    <md-card-actions align="end">
      <button md-icon-button (click)="1"><md-icon>phone</md-icon></button>
      <button md-icon-button (click)="1"><md-icon>sms</md-icon></button>
      <button md-icon-button (click)="1"><md-icon>mail</md-icon></button>
      <!--
      <a [href]="safeHref('tel:' + team.mobile)" md-button color="primary"></a>
      <a [href]="safeHref('sms:' + team.mobile)" md-button color="primary">Text</a>
      <a [href]="safeHref('mailto:' + team.email)" md-button color="primary">Email</a>
      -->
    </md-card-actions>
  </md-card>
</div>